@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Orbitron:wght@900&display=swap');

/* body {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(33, 33, 34) 0%, rgb(17, 17, 17) 80%);
  overflow: overlay;
  font-family: 'Dancing Script', cursive;
  font-family: 'Orbitron', sans-serif;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

/* Style scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
} 