@tailwind base;
@tailwind components;
@tailwind utilities;



/* body {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(33, 33, 34) 0%, rgb(17, 17, 17) 80%);
  overflow: overlay;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

/* Style scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
} 